:root {
    --color-primary-gold: #D4AF37;
    --color-primary-gold-hover: #CD7F32;
    --color-primary-red: #8B0000;
    --color-primary-blue: #6EC6E2;
   
    --color-primary-black: #000000;
    --color-primary-white: #FFFFFF;

    --color-primary-afrodite: #ec4987;
    --color-primary-afrodite-hover: #F5F5F5;

    --color-primary-zeus: #1E3A5F;
    --color-primary-zeus-hover: #FFD700;

    --color-primary-hades: #FFFFFF;
    --color-primary-hades-hover: #FFFFFF;

    --color-primary-hera: #800080;
    --color-primary-hera-hover: #FFD700;

    --color-primary-poseidon: #40E0D0;
    --color-primary-poseidon-hover: #3B9B92;

    --color-primary-hades: #3B9B92;
    --color-primary-hades-hover: #3B9B92;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-secundary: "UnifrakturCook", serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do Body */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-primary-black);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Cabeçalho */
header {
    background-color: var(--color-gray-9);
    color: #fff;
    padding: 40px 0;
    width: 100%;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    font-family: var(--font-secundary);
    color: var(--color-primary-gold);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-images {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    gap: 40px;
}

.carousel img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    opacity: 0.7;
}

.carousel img.active {
    width: 300px;
    opacity: 1;
    transform: scale(1.2);
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Setas de navegação */
.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

button#prev,
button#next {
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 20px;
    transition: background-color 0.3s ease;
}

button#prev:hover,
button#next:hover {
    background-color: #555;
}

button#play_btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

button#play_btn:hover {
    color: #555;
}

/* Time */
.time {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

/* Responsividade */
@media (max-width: 768px) {
    .carousel {
        width: 95%;
    }

    .item {
        min-width: 250px;
    }

    .thumbnail .item {
        width: 80px;
        height: 45px;
    }
}
