:root {
    --color-primary-gold: #D4AF37;
    --color-primary-gold-hover: #CD7F32;
    --color-primary-red: #8B0000;
    --color-primary-blue: #6EC6E2;

    --color-primary-black: #000000;
    --color-primary-white: #FFFFFF;

    --color-primary-afrodite: #ec4987;
    --color-primary-afrodite-hover: #F5F5F5;

    --color-primary-zeus: #1E3A5F;
    --color-primary-zeus-hover: #FFD700;

    --color-primary-hades: #FFFFFF;
    --color-primary-hades-hover: #FFFFFF;

    --color-primary-hera: #800080;
    --color-primary-hera-hover: #FFD700;

    --color-primary-poseidon: #40E0D0;
    --color-primary-poseidon-hover: #3B9B92;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-secundary: "UnifrakturCook", serif;
}

/* Reset de estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do Body */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-gray-9);
    color: var(--color-primary-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Cabeçalho */
header {
    background-color: var(--color-gray-9);
    padding: 70px 20px;
    width: 100%;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    font-family: var(--font-secundary);
    color: var(--color-primary-gold);
}

/* Estilo do Carrossel */
.carousel {
    position: relative;
    width: 80%;
    max-width: 1500px;
    height: 80%;
    max-height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.carousel-items {
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
    gap: 20px;
}

.carousel .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transition: all 0.3s ease-in-out;
}

.carousel img {
    max-height: 600px;
    width: 200px;
    height: 100%;
    border-radius: 10px;
    opacity: 0.7;
}

.carousel .item.active {
    opacity: 1;
    z-index: 1;
    transform: scale(1.5);
}

h2 {
    color: var(--color-primary-gold);
    margin-top: 10px;
}

/* Botões de navegação */
.prev,
.next {
    position: absolute;
    top: 50%;
    border: none;
    background-color: transparent;
    color: var(--color-primary-white);
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 2rem;
    width: 60px;
}


.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Responsividade */
@media (max-width: 768px) {
    .carousel {
        width: 90%;
    }

    .carousel img {
        width: 150px;
    }

    header h1 {
        font-size: 2rem;
    }
}